.trollButtond 
{
  height: 250px;
  width: 300px;
  background-color: rgb(200,0,0);
  color: white;
  border: none;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.trollButtond:hover 
{
opacity: 0.8;
}

.trollButtond:active 
{
opacity: 0.5;
}

body 
{
background-color: #121212;
background-repeat: no-repeat;
background-size: 50%;
background-position: center;
background-attachment: fixed;
display: flex;  
justify-content: center;  
align-items: center;
overflow-y: hidden; /* Hide vertical scrollbar */
overflow-x: hidden; /* Hide horizontal scrollbar */  
}

.divVideo
{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes idle {}

@keyframes anim1 
{
from{
 transform: translate(-50%, -50%) scale(600%);
 opacity: 0%;
}
to{
  transform: translate(-50%, -50%) scale(150%);
  opacity: 100%;
}
}

@keyframes anim2 
{
from{
  transform: translate(-50%, -50%) scale(150%)
}
to{
  transform: translate(-50%, 500%) scale(150%)
}
}

@keyframes fadeIn
{
from{
  opacity: 0%;
}
to{
  opacity: 100%;
}
}

.cumImage
{
 background-color: transparent;
 transform: translate(-50%, -50%) scale(600%);
 position: absolute;
 top: 50%;
 left: 50%;
 opacity: 0%;
 pointer-events: none;
 animation: idle;
}

.hdsImage
{
  transform: translate(-50%, -50%) scale(800%);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0%;
  pointer-events: none;
}

::-webkit-scrollbar { 
  display: none; 
  width: 0px;
  background: transparent; /* make scrollbar transparent */ 
}
