.trollButtond 
{
  height: 250px;
  width: 300px;
  background-color: rgb(200,0,0);
  color: white;
  border: none;
  border-radius: 2px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 43%;
}

.trollButtond:hover 
{
opacity: 0.8;
}

.trollButtond:active 
{
opacity: 0.5;
}

.trollVideod 
{
margin: 0;
position: absolute;
top: 18%;
left: 37%;
}

body 
{
background-color: #121212;
}
