.trollButtond 
{
  height: 250px;
  width: 300px;
  background-color: rgb(200,0,0);
  color: white;
  border: none;
  border-radius: 2px;
}

.trollButtond:hover 
{
opacity: 0.8;
}

.trollButtond:active 
{
opacity: 0.5;
}

body 
{
background-color: #121212;
background-repeat: no-repeat;
background-size: 50%;
background-position: center;
background-attachment: fixed;
display: flex;  
justify-content: center;  
align-items: center;  
}
